{% load static%}
<nav class="navbar navbar-expand-lg mb-5" style="background-color: rgba(130, 127, 127, 0.4);">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center " href="{% url 'anasayfa'%}">
        
        <span class="fs-6">Galerim</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <span class="navbar-text">
          ----------------
        </span>
      </div>
    </div>
</nav>